H.Dawood Ibrahim Assignment 3

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
number = 7;
exponent = 4;
power = 1

for i in range(1, exponent + 1):
    power = power * number
    
print(power)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"

x = s.split()

print(x)

['Hi', 'there', 'Sam!']

In [ ]:
s = "Hi there dad!"

x = s.split()

print(x)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth";
diameter =12742;
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
t = (1, 2, 3)
list = [1, 2, 3, 4, 5]

'''
tuple is immutable, and list is mutable
Tuples cannot be modified However, lists can be modified indefinitely
'''

'\ntuple is immutable, and list is mutable\nTuples cannot be modified However, lists can be modified indefinitely\n'

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
    print("Your domain is: " + email.split('@')[-1])

email = input("Please enter your email: >")
domainGet(email)

Please enter your email: >user@domain.com
Your domain is: domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

st = input("Please key a string: >")
findDog(st)

Please key a string: >hello dog
True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
string = input("Please enter your string: ")

def countdogs(string):
    count = 0
    for word in string.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
            print(count)

countdogs(string)

Please enter your string: hello dog and you are a dog
1
2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
print("Please enter the speed(km/h)(only number please): \n")
speed = int(input("> "))

print("Please enter your birthday: (in DD/MM/YYYY format)\n")
birthday = str(input("> "))

def speeding(speed, birthday):
    if birthday == '29/08/1989':
        s = speed - 5
    else:
        s = speed

    if s <= 60:
        print("No Ticket.")
    elif s > 61 and s <= 80:
        print("Small ticket")
    else:
        print("Big ticket.")

speeding(speed, birthday)

Please enter the speed(km/h)(only number please):

> 90
Please enter your birthday: (in DD/MM/YYYY format)

> 30/06/2002
Big ticket.

In [ ]:
print("Please enter the speed(km/h)(only number please): \n")
speed = int(input("> "))

print("Please enter your birthday: (in DD/MM/YYYY format)\n")
birthday = str(input("> "))

def speeding(speed, birthday):
    if birthday == '29/08/1989':
        s = speed - 5
    else:
        s = speed

    if s <= 60:
        print("No Ticket.")
    elif s > 61 and s <= 80:
        print("Small ticket")
    else:
        print("Big ticket.")

speeding(speed, birthday)

Please enter the speed(km/h)(only number please):

> 80
Please enter your birthday: (in DD/MM/YYYY format)

> 30/06/2002
Small ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [2]:
emp=[12000,8000,6500,10000,5000]
for i in emp:
  print("The Employee Salary: ", i)
print("The total salary expenditure: ",sum(emp))

The Employee Salary:  12000
The Employee Salary:  8000
The Employee Salary:  6500
The Employee Salary:  10000
The Employee Salary:  5000
The total salary expenditure:  41500

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
dictionary1 = {  'Empid': 5, 'Empname': 'Ravi', 'Basicpay' : 15000 }
dictionary2 = {'DeptName': 'Marketing','DeptId': 140 }
dictionary1.update(dictionary2)
print(dictionary1)

{'Empid': 5, 'Empname': 'Ravi', 'Basicpay': 15000, 'DeptName': 'Marketing', 'DeptId': 140}